body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

#main-content {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #495057;
}

p {
    color: #6c757d;
}

fieldset {
    margin-bottom: 20px;
    border: none;
}

article {
    margin-top: 12px;
}

.gender {
    display: flex;
    justify-content: space-between;
}

.gender .container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gender .container input {
    margin-right: 10px;
}

.gender .text {
    margin: 0;
    color: #495057;
}

.inputW, .input, .inputH {
    margin-bottom: 12px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}

.calculate {
    background-color: #007bff;
}

.reset {
    background-color: #6c757d;
}

button:hover {
    opacity: 0.9;
}

#bmi-result {
    margin-top: 20px;
    text-align: center;
    background-color: #ced4da
}

#bmi-result.hidden {
    display: none;
}

#bmi-value {
    font-size: 30px;
    color: #28a745;
    font-weight: bold;
}

#bmi-comment {
    margin-bottom: 10px;
    color: #495057;
    font-weight: 500;
}